/* Contatct Us */

.contact_card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid transparent;
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  height: 100%;
  flex: 1;
}

.contact_form {
  width: 100%;
  background-color: #f9f9f9;
  /* padding: 100px 0; */
}

.form_container {
  padding: 100px 100px 100px 0;
}

.submit_button {
  border: 1px solid transparent !important;
  border-radius: 30px !important;
  font-weight: 500;
  font-family: Poppins;
  color: #fff;
  padding: 10px 10px !important;
  background: linear-gradient(
    315deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(109, 9, 121, 1) 35%,
    rgba(203, 42, 42, 1) 75%
  ) !important;
  cursor: pointer;
  transition: all;
}

.submit-button:hover {
  opacity: 0.65;
  color: #fff;
}

.map {
  height: 100%;
  width: 100%;
}

.social-links i {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .address h4 {
    font-size: 28px;
  }

  .contact-cta {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 25px 0;
  }

  .address p {
    font-size: 15px;
  }

  .abeg {
    padding: 20px;
  }

  .form-container h3 {
    font-size: 28px;
  }

  .form-container {
    padding: 30px;
    margin: 20px 0;
  }
  .submit-button {
    width: 100%;
  }
  .map {
    height: 400px;
    margin-bottom: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
