@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.services-title {
  font-weight: 700;
  font-size: 80px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
  background: -webkit-linear-gradient(180deg, red, blue, #9900cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-button {
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(109, 9, 121, 1) 35%,
    rgba(203, 42, 42, 1) 75%
  );
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 30px;
  border: none !important;
  color: white;
}
